$headline:6.65vw;
$headline-2:5.65vw;
$headline-3:4.65vw;
$headline-4:3.65vw;
$headline-5:2.65vw;
$headline-6:1.65vw;

$paragraph:4.27vw;

$headline--desktop: 25px;
$headline-2--desktop: 22px;
$headline-3--desktop: 19px;
$headline-4--desktop: 16px;
$headline-5--desktop: 13px;
$headline-6--desktop: 10px;

$paragraph--desktop: 14px;

$icon: 6vw;

$icon--desktop: 30px;

$input:4vw;

$input--desktop:16px;

$menu:5vw;

$menu--tablet:20px;

$menu--desktop:14px;

$contact:3.7vw;

$contact--desktop:3.7vw;

$big-text:6.5vw;

$submit:18px;

@mixin headline($color: $blue,$fontSize: 6.65vw) {
    font-size: $fontSize;
    color: $color;
    font-family: "Noto Sans", sans-serif;
}

@mixin paragraph($color: $border,$fontSize: 4.27vw) {
    font-size: $fontSize;
    color: $color;
    font-family: "Noto Sans", sans-serif;
}

@mixin icon ($color: $blue, $fontSize: $icon) {
    color: $color;
    font-size: $fontSize;
}
